tp/ventes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ventes" type="ventesType">
    <xs:annotation>
      <xs:documentation>&lt;?xml-stylesheet type="text/xsl" href="Transformation.xslt" ?></xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="articleType">
    <xs:sequence>
      <xs:element type="xs:string" name="qte"/>
      <xs:element name="pu">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="60.00"/>
            <xs:enumeration value="3000.00"/>
            <xs:enumeration value="630"/>
            <xs:enumeration value="20"/>
            <xs:enumeration value="65.00"/>
            <xs:enumeration value="3120.00"/>
            <xs:enumeration value="70.00"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
    <xs:attribute type="xs:string" name="ref" use="optional"/>
  </xs:complexType>
  <xs:complexType name="trimestreType">
    <xs:sequence>
      <xs:element type="xs:string" name="description" minOccurs="0"/>
      <xs:element type="articleType" name="article" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="numero" use="optional"/>
    <xs:attribute type="xs:string" name="annee" use="optional"/>
  </xs:complexType>
  <xs:complexType name="magasinType">
    <xs:sequence>
      <xs:element name="description">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Le magasin parisien a une nouvelle équipe à sa tête."/>
            <xs:enumeration value="
    On peut mettre une description dans un élément description ou directement
    sous forme de noeud de texte dans l'élément magasin.
    Attention, ce magasin a ouvert au deuxième trimestre...
    "/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="trimestreType" name="trimestre" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="nom" use="optional"/>
    <xs:attribute type="xs:string" name="region" use="optional"/>
  </xs:complexType>
  <xs:complexType name="ventesType">
    <xs:sequence>
      <xs:element type="xs:string" name="description"/>
      <xs:element type="magasinType" name="magasin" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>